module.exports = {
    async headers() {
        return [
            {
                source: '/admin-signup',
                headers: [
                    {
                        key: 'Content-Type',
                        value: 'application/json'
                    }
                ]
            }
        ]
    }
}