:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

html, body{
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  position: relative;
  height: 100% !important;
  background-color: #E5E5E5;
}


.shipping-request {
  overflow: hidden;
  margin-left: 28vh;
  height: 100vh;
}

.status-change-wrapper {
  display: grid;
  grid-template-columns: auto auto;
}

.status-change-wrapper input[type=number]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: bold;
}

.status-change-wrapper select{
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: bold;
}

.login {
  width: 50%;
  text-align: right;
  margin-right: 3vw;
}
.social-login {
    color: #000;
    padding: 1vw 20px;
    margin: auto;
    width: 60%;
    text-align: center;
}

.social-login span {
  margin: 1vw;
}

.social-login > button {
  display: flex;
  border: 1px solid blue;
  cursor: pointer;
  margin: 2vw auto;
  font-weight: bold;
  padding: 2.5px;
}

.social-login > button > span {
  font-weight: bold;
  color: #000;
}

.social-login > button > span {
  margin: 0.5vw;
}

.google {
  width: 15px;
  height: auto;
}

.header  {
  display: flex;
  position: fixed;
  width: 100%;
  height: 5vw;
  background-color: blue;
  justify-content: space-around;
  z-index: 40;
}

.header a {
  font-size: 2vw;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.header div {
  padding: 1vw;
}
.logo {
  width: 50%;
  margin-left: 3vw;
}

.dynamic-header  {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  height: 5vw;
  background-color: blue;
  justify-content: space-around;
  z-index: 40;
}

.dynamic-login {
  width: 35%;
  text-align: right;
  color: #fff;
  font-weight: bold;
  font-size: 2vw;
  padding: 1vw;
}

.dynamic-name {
  width: 55%;
  padding: 1vw;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 2vw;
}

.dynamic-header a {
  font-size: 2vw;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.dynamic-header div {
  padding: 1.5vw;
}

.header-bar  {
  display: flex;
  width: 100%;
  height: fit-content;
  background-color: #fff;
  justify-content: space-around;
  z-index: 40;
}

.header-bar a {
  font-size: 2vw;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.header-bar div {
  padding: 1vw;
}


input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    background-color: #213569;
    color: white;
    padding: 1vh 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  form {
   
      margin: 0 auto;
  }

  .overall-form {
    overflow: hidden;
    place-items: center;
    margin: auto;
  }

  .form_container {
    display: grid;
    height: 100vh;
  }

  .contact-form {
    width: 40%;
    z-index: 2;
    background-color: #fff;
    padding: 2vh;
    border-style: solid;
    border-radius: 1vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    bottom: 10vh;
  }

  .former {
    margin: 0 auto;
    border-radius: 5px;
    border-width: 0.1vw;
    border-style: solid;
    border-color: #e4dede;
    padding: 3vh;
    width: 45vh;
    box-shadow: 0 1px 3px rgb(0 0 0 / 13%);
  }
  
  .signup-wrapper {
    margin: 0 auto;
    border-radius: 5px;
    border-width: 0.1vw;
    border-style: solid;
    border-color: #e4dede;
    padding: 3vh;
    width: 70vh;
    box-shadow: 0 1px 3px rgb(0 0 0 / 13%);
  }

  .signup {
    display: grid;
    grid-template-columns: auto auto;
  }
  
  .signup input[type=number]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
  }
  
  .signup input[type=text]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
  } 
  
  .signup input[type=password]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
  } 

  .back {
    width: 10%;
    text-align: center;
  }
 
  .back > svg {
    height: 2vw;
    width: 2vw;
  }

  .add-image {
    border: 1px dotted blue;
    width: 15vw;
    height: 15vw;
  }

  .tag{
    display: flex;
    max-width: 35vh;
    margin: 2vw auto;
    text-align: center;
  }

.login-tag {
  max-width: 25vw;
  margin: 2vw auto;
  text-align: center;
}

  .tag h5 {
    margin: 0;
    padding: 0;
  }

  .tag h5:last-child {
    margin-left: 0.9vw;
    color: #213569;
  }

/* Dashboard */
  .dashboard_wrapper {
    display: grid;
    z-index: 5;
    height: 100vh;
    width: auto;
  }

  .dashboard_holder {
    margin: auto;
    place-items: center;

  }

  .Dashboard {
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    overflow: hidden;
    padding: 16% 0 0;
  }
  
  .Dashboard-container {
    text-align: center;
    background-color: #fff;
    margin: 1vw;
    width: 18vw;
    height: 18vw;
    border: 0.1vw;
    padding: 3vh;
    border-color: #e4dede;
    border-style: solid;
    border-radius: 2vw;
    box-shadow: 0 1px 3px rgb(0 0 0 / 13%);
  }

  .Dashboard-container a {
    text-decoration: none ;
  }

  .Dashboard-container h3 {
    margin: 1vh auto;
    color: #213569;
    font-size: 3vw;
  }
 
  .box {
    width: 8vw;
    height: 8vw;
    margin: 2vw;
  }

  

  .transaction {
    width: 8vw;
    height: 8vw;
    margin: 2vw;
  }

  .transaction_table {
    width: 100vw;
    display: grid;
    height: 100vh;
  }

  .transaction_wrapper {
    margin: auto;
    place-items: center;
  } 
  
  .transaction_body {
    background-color: #fff;
    width: 90vw;
    margin: 3vh auto;
    border-radius: 1vh;
    padding: 1vh;
    border-collapse: collapse;
  }
  
  .transaction_body td {
    border: 0.1vh solid #efeff1;
    padding: 2vh;
    text-align: center;
  }
  .transaction_body th {
    border: 0.1vh solid #efeff1;
    padding: 2vh;
    text-align: center;
  }
  
  .transaction_body tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* profile */
  .user-profile {
    margin: 0 auto;
    border-radius: 5px;
    border-width: 0.1vw;
    border-style: solid;
    border-color: #e4dede;
    max-width: 80vw;
    max-height: fit-content;
    box-shadow: 0 1px 3px rgb(0 0 0 / 13%);
    padding: 4%;
  }

  .profile {
    width: 8vw;
    height: 8vw;
    margin: 2vw;
  }
  
  .user-profile input[type=text]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
  }

  .user-profile input[type=submit]{
    padding: 2vh;
    width: 15vh;
    font-weight: bold;
    background-color: #213569;
  }

  .user-profile input[type=file]{
    display: none;
  }
  .user {
    display: grid;
    grid-template-columns: auto auto;
  }
  .user-profile label {
    font-weight: bold;
  }

  .user-profile p {
    margin: 0;
    padding: 2vh;
  }

  .user-profile h4 {
    margin: 0;
    padding-bottom: 2vh;
    color: #213569;
  }

  .profile-avatar {
    text-align: center;
  }

  .profile-avatar img {
    width: 15vh;
    height: 15vh;
    margin: 2vw;
    border-radius: 100%;
    object-fit: cover;
  }

  .avatar {
    width: 15vh;
    height: 15vh;
    margin: 2vw;
  }

  .upload {
    width: 8vh;
    height: 8vh;
    margin: 1vw;
  }
  .add-image{
    height: fit-content;
    text-align: center;
  }
  .add-image h4 {
    padding:0;
    margin: 0;
  }

  .submit {
    text-align: center;
  }

  /* Request */
  .request_wrapper {
    height: auto;
    display: grid;
    left: 0;
    width: auto;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, .8);
    z-index: 4000;
    position: fixed;
  }
  .request_submitted {
    border: 0.1px solid #fff;
    border-radius: 1vh;
    text-align: center;
    box-shadow: 0 2px 12px rgb(0 0 0 / 40%);
    background-color: #fff;
    padding: 1vh;
    position: relative;
    width: fit-content;
    height: fit-content;
    place-items: center;
    margin: auto;
  }
  .slider-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    height: calc(35vh);
  }
  
  .slider-container::-webkit-scrollbar{ display: none}

.request-slider {
  display: flex;
  padding: 1vh;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  height: calc(35vh);
}

.request-slider::-webkit-scrollbar{ display: none}

.request-slider img {
  width: auto;
  height: calc(30vh);
  border-radius: 1vh;
  }

  .request-preview {
    place-items: center;
    margin: auto;
    width: 80vw;
  }

  .request_text p:nth-child(1){
    font-weight: bold;
    font-size: 2.8vh;
  }
  .request_submit{
    background-color: #039B37;
    padding: 2vh;
    width: fit-content;
    text-align: center;
    margin: auto;
    color: #fff;
    font-weight: bolder;
    border-radius: 1vh;
  } 

  .request_text p:nth-child(2){
    font-size: 2.5vh;
  }
  .success {
    border-bottom: 1px solid #c5c3c3;
    display: flex;
  }
  .success p {
    font-weight: bold;
    font-size: 2.8vh;
    float: right;
    margin: 0;
  } 
  
  .success svg {
    width: 4vh;
    float: right;
  }
  
  
  .success p:nth-child(2) {
    float:right;
    width: 5%;
  }
  .success p:nth-child(1) {
    float:right;
    width: 95%;
    text-align: center;
    padding: 1vh;
  }
  .checked{
    margin: 3vh;;
  }
  .loader-holder {
    width: fit-content;
    height: fit-content;
  }
  .loader {
    width: 6vw;
    height: 6vw;
    animation: rotation 1s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(-359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  .photo {
    display: flex;
    flex-wrap: wrap;
  }

  /* mobile-layout */ 
  @media (max-width:736px) and (min-width:60px) {
    .photo img {
      width: 20vw !important;
      height: 20vw !important;
    }
  .single-request {
    margin: 0 !important;
    padding: 4vw !important;
  }
    
  .upload {
    width: 12vw;
    height: 12vw;
    margin: 2vw;
  } 
   .loader {
    width: 12vw;
    height: 12vw;
    margin: 2vw;
  }
  .add-image{
    text-align: center;
    width: 20vw;
    height: fit-content;
  }
  .add-image h4 {
    padding:0;
    margin: 0;
    font-size: 3vw;
  }
    .back > svg {
      height: 5vw;
      width: 5vw;
    }
    .former {
      padding: 1vw;
      width: 90vw;
    }
    .sender {
          grid-template-columns: auto !important;
      }
      .receiver {
          grid-template-columns: auto !important;
      }
      .others {
          grid-template-columns: auto !important;
      }
      .user {
        grid-template-columns: auto !important;
      }
      .user textarea {
        height: auto;
        width: 90%;
      }
      .user-profile input[type=text] {
        width: 100% !important;
      }
      .signup {
        grid-template-columns: auto !important;
      }
      .signup-wrapper {
        width: 90vw !important;
        padding: 3vw !important;
      }
      .bottom-button {
        display: flex !important;
        flex-direction: row;
        max-width: 100vw;
        height: 14vh;
        background-color: blue;
        position: fixed;
        bottom: 0;
      }
      .dynamic-bottom {
        display: flex !important;
        flex-direction: row;
        max-width: 100vw;
        height: 14vh;
        background-color: #fff;
        bottom: 0;
      }

      .side-button {
        display: none !important;
      }

      svg {
        height: 10vh;
      }

      .side-holder{
        padding: 2vh !important;
        color: #fff;
        border-right: 1px solid #fff !important;
        text-decoration: none;
        border-bottom: 0 !important;
        text-align: center;
      }
      .bottom-button > a:last-child .side-holder{
        border: none !important;
      }

      .bottom-button a{
        text-decoration: none;
      }

      .side-holder svg {
        width: 6vh;
        height: 6vh;
        margin: 0 auto;
      }

      .shipping-request {
        margin: 0;
      }
      input[type=submit] {
        padding: 2vw 2px;
      }
      .header {
        height: 11vw;
      }
      
      .header a {
        font-size: 5vw;
      }
      .header > div {
        padding: 3vw;
      }
      
      .dynamic-header {
        height: fit-content;
      } 
      .dynamic-header a {
        font-size: 5vw;
      }
      .dynamic-name {
        font-size: 5vw;
      }.dynamic-login {
        font-size: 5vw;
      }
      .dynamic-header > div {
        padding: 3vw;
      }
      
      .header-bar {
        height: 11vw;
      }
      .header-bar a{
        font-size: 5vw;
      }
      .header-bar > div {
        padding: 3vw;
      }
  }
  
  /* mobile-layout */
  
  .photo img{
    width: 10vw;
    height: 10vw;
    margin: 1vh;
    object-fit: cover;
  }
  .photo input[type=file]{
    display: none;
  }

  .sender  {
    display: grid;
    grid-template-columns: auto auto;
  }

  .receiver  {
    display: grid;
    grid-template-columns: auto auto;
  }
   .others  {
    display: grid;
    grid-template-columns: auto auto;
  }

  .sender input[type=number]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
  }

  .sender input[type=text]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
  }

  .receiver input[type=number]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
  }

  .receiver input[type=text]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
  }

  .others input[type=number]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
  }

  .others input[type=text]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
  }

  .descriptions{
    max-height: auto;
  }
  .descriptions p{
    margin: 0;
  }

  textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
  }
  
  .user-request input[type=submit]{
    padding: 1vh;
  }

  /*  admin */

  .admin {
    width: 100%;
    height: 100% !important;
  }

  .bottom-button {
    display: none;
  }

  .side-button {
    width: 25vh;
    height: 100%;
    background-color: #213569;
    display: block;
    list-style: none;
    text-align: center;
    color: #fff;
    position: fixed;
  }

  .side-button a {
    color: #fff;
    text-decoration: none;
  }

  .side-holder  {
    padding: 5vh;
    margin: 0.5vh;
    font-weight: bolder;
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-right: unset;
    border-left: unset;
    border-top: unset;
  }

  .admin-content {
    height: 100%;
    background-color: #E5E5E5;
    margin-left: 27vh;
    padding-top: 0;
    padding-left: 2vh;
  }

  .create-contact {
    border-radius: 1vh;
    background-color: #fff;
    border-radius: 1vh;
    width: 93%;
    margin: 3vh auto;
    padding: 0.5vh;
    margin-top: 8vh;
  }

  .form-wrapper{
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top: 20vh;
    left: 1vw;
    position: absolute;
    box-shadow: 0 1px 3px rgb(0 0 0 / 13%);
  }


.add-button  {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #fff;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin: auto;
  height: 100%;
  width: 100%;
}

.add-button > div {
  height: 100%;
  place-items: center;
}


.add-button p {
  background-color: #213569;
  text-align: center;
  padding: 1.2vw;
  border-radius: 1vw;
  font-size: 2.5vh !important;
  margin: 2vw;
  color: #fff;
  font-weight: bold;
}

.add-button input[type=text] {
  width: 80%;
  padding: 1.2vh;
  margin: 2vh;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.all-contact {
  background-color: #fff;
  width: 93%;
  margin: 3vh auto;
  border-radius: 1vh;
  font-size: 1vh;
  padding: 1vh;
}

.contact-header {
  display: flex;
  justify-content: space-evenly;
  padding: 1vw;
  font-weight: bolder;
  font-size: 2vw;
}

.contact-head {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  font-size: 2vh;
  align-items: center;
}

.contact-head input[type=submit]{
  width: 9vh;
  text-align: center;
  margin: 1vh;
  padding: 1.2vw;
}

.contact-head select{
  margin: 1vw;
  padding: 1.2vw;
}

.contact-body {
  background-color: #fff;
  width: 93%;
  margin: 3vh auto;
  border-radius: 1vh;
  padding: 1vw;
  border-collapse: collapse;
}

.contact-body td {
  border: 0.1v solid #efeff1;
  padding: 2vw;
  text-align: center;
}
.contact-body th {
  border: 0.1vh solid #efeff1;
  padding: 2vw;
  text-align: center;
}

.contact-body tr:nth-child(even) {
  background-color: #f2f2f2;
}

table {
  border-spacing: 0.1vh;
  table-layout: auto;
}

.gallery-container {
  width: 90%;
  flex-wrap: wrap;
  display: flex;
  background-color: #fff;
  margin: 3vh auto;
  border-radius: 1vh;
  font-size: 1vh;
  text-align: center;
}


.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  float: left;
  margin: auto;
}
.gallery {
  margin-left: 28vh;
  overflow: hidden;
}

.gallery-clip {
  width: 11vw;
  height: 11vw;
  padding: 0.6vh;
  float: left;
  margin: auto;
}

.bold-box{
  width: 5vw;
}

.single-request {
  margin-left: 28vh;
  overflow: hidden;
}

.slick-slide{
  z-index: 10;
}
.slick-slide  img{
  height: 30vh;
  margin: 10px;
  max-width: 95%;
}

.admin-request {
  overflow: hidden;
  margin-left: 28vh;
}

.errorMessage {
  color: red;
  font-weight: bold;
  font-size: 2.2vh;
}


.error{
  color: var(--error);
}

/* progress bar styles */
.progress-bar{
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

